* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  margin: 0;
}

.bg-photo-main {
  background-image: url("./Images/bgMainPage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 40px 20px;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #4c2b36;
}

.shield {
  background: rgba(255, 255, 255, 0.85);
  padding: 30px;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
}

#results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

#results img {
  width: 100%;
  border-radius: 10px;
}
